@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Update";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
    </nav>
    <h2>Update @Model.FirstName  @Model.LastName</h2>

    <div class="inputrow">
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.FirstName" />

    </div>
    <div class="inputrow">
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.LastName" />
    </div>
    <div class="inputrow">
        <label for="EmployeeNumber">Employee Number:</label>
        <input id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
    </div>
    <div class="inputrow">
        <label for="HireDate">HireDate:</label>
        <input type="date" id="HireDate" name="HireDate" value="@string.Format("{0:yyyy-MM-dd}", Model.HireDate)" />
    </div>
    <div class="inputrow">
        <label for="Salary">Salary:</label>
        <input id="Salary" name="Salary" value="@Model.Salary" />
    </div>
    <button onclick="UpdateTeacher(@Model.TeacherId);">Update Teacher</button>
</div>

